doctype
html.no-js
	head
		meta(charset='utf-8')
		title Boilerplate Init
		link(rel="stylesheet", href="css/style.css", type="text/css")

	body

		script(src='javascripts/jquery.min.js')
		script(src='javascripts/scripts.js')